<h1>Eat Da Burrrgrrrr!</h1>

<ul>
  {{#each burgers}}
  <li>
    <p class="burger-container">
      {{this.dataValues.id}}. {{this.dataValues.burgername}}

      <button data-burgerid="{{this.dataValues.id}}" class="delburger">Delete Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h3>To be eaten</h3>
    </div>
    <div class="col-6">
      <h3>Devoured</h3>
    </div>
  </div>
</div>


<h2>Create a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger" class="new-item"></textarea>
  <button type="submit" class="btn btn-primary">Save Burger!</button>
</form>